[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
jupyter = "*"
twine = "*"
pytest = "*"
recipegameengine = {path = "."}

[requires]
python_version = "3.11"
